.textMenu {
    display: flex;
    justify-content: center;
    color: #ff9800db;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: cursive;
}
.divCointener {
    display: flex;
    flex-wrap: wrap;
}
.divCointenerCard {
    display: flex;
    margin: 20px;
    margin-bottom: 50px;
}
.img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.divOpisanie {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}

.img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .divPriceAndBtn{
    display: flex;
    justify-content: space-around;
    button {
    font-size: 18px;
    height: 55px;
    width: 140px;
    border: none;
    background: #ff9800db;
    color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
    }
    button:hover {
        background: rgba(0,0,0,0);
        color: #ff9800db;;
        box-shadow: inset 0 0 0 3px #ff9800db;
      }
  }

  h1 {
    font-family: cursive;
    color: #ff9800db;
  }
